.title {
  text-align: center;
}

.title h1,
h2 {
  color: rgba(255, 255, 255, 40%);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.gradient {
  margin: auto;
  margin-bottom: 7px;
  width: 130px;
  height: 1px;
  background-image: linear-gradient(to right, #d1acb9, #7e5aa1);
}
